tr {
  &:has(tbody) {
    background-color: rgb(var(--cl-white));
  }

  &:nth-child(even) {
    background-color: rgb(var(--cl-primary) / 10%);
  }

  td {
    min-width: 12rem;
    padding: 0.5rem 2rem;
    text-transform: capitalize;
    border: 1px solid rgb(var(--cl-primary));
  }

  td:not(:first-child) {
    text-align: center;
  }
}
