.friend-name {
  margin-block: 0.25rem;
  color: rgb(var(--cl-black));
}

.friends-status {
  font-size: var(--font-sm);
  text-transform: capitalize;
}

.online {
  color: rgb(var(--cl-success));
}
.offline {
  color: rgb(var(--cl-error));
}
